body{
    margin:0;
}

/* first section */
.sectionOne-header{
    background-color: #1f3927;
    display:flex;
    justify-content: center;
    padding:0px 50px;
}

.title-header{
    color: white;
    font-size: 24px;
    font-weight:800;
    margin-top:15px;
    flex:1;
}

ul{
    list-style-type: none;
    display:flex;
    gap: 20px;
    /* color: white; */

}

/* second section */

.sectionTwo-intro{
    display: flex;
    justify-content: center;
    background-color: #1f3927;
    padding:25px 0px;
}
.side-a{
    display: flex;
    flex-direction: column;
    margin:50px 100px;
    gap: 5px;
}

.title1{
    font-size: 36px;
    font-weight: 900;
    color: white;
}

button{
    max-width: 75px;
}
.subtitle1{
    max-width:300px; 
   color: rgb(220, 232, 178);
}

.button1{
    background-color: #3f7b51;
    color:white;
    border: none;
    border-radius: 5px;
}

.img {
    background-color: gray;
    padding: 100px;
}

/* third section */

.sectionThree-pillars{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title2{
    font-size: 24px;
    font-weight: 900;
}

.pillarGroup{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}

.pillar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgPillar{
    border: 3px solid #1f3927;
    border-radius: 20%;
    height:150px;
    width: 150px;
}

.textPillar{
    text-align: center;
    max-width:200px;
}

/* section four */
.sectionFour-testimonial{
    padding: 100px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

.testimonial{
    font-weight: lighter;
    font-style: italic;
    font-size: 40px;
}

.author{
    display: flex;
    align-self: flex-end;
    font-size: 20px;
    font-weight: 900;
}

/* section five */
.sectionFive-call-action{
    display: flex;
    justify-content: center;
    background-color: #1f3927;
    padding:25px 0px;
    margin: 100px 200px;
    color:white;
    gap: 50px;
}

.button2{
    background-color: #1f3927;
    color:white;
    border-radius: 5px;
    border: 2px solid white ;
    padding: 5px;
}

.action-time{
    font-size: 20px;
    font-weight: 900;
}

/* sectio six */
.sectionSix-footer{
    background-color: #1f3927;
    color:white;
    text-align: center;
    padding: 25px 0px;
}