/* *{
    display:flex;
} */
.blue{
    background-color: #2d456d;
    margin:0;
}

h1{
    flex:1;
}
.dark-blue-header{
    justify-content: space-around;
}

.encompassing-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.subgroup-image-text{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content:space-between;
    
}
.image-alone{
    width:200px;
    height:200px;
    border:5px solid  #2d456d;;
    border-radius: 5%;
}

.text-alone{
    max-width: 200px;
}